body {
    text-align: center;
    font-family: 'Asap', Arial, Helvetica, sans-serif;
}

h1, h2, h3, p {
    text-align: left;
}

#game-intro {
    border-radius: 25px;
    background: #bc4e9c;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f80759, #bc4e9c);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f80759, #bc4e9c);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#game-board {
    width: 900px;
    margin:auto;
}

#hero-image {
    max-width: 450px;
    padding-top: 25px;
    width:100%;

}

#hero-header {
    padding: 20px;
    font-weight: 800;
}

#hero-description {
    font-size: 1.5rem;
}

#game-start-btn {
    /* margin: 20px 10px; */
    font-size: 1.75rem;
}

#score-panel {
    display: none;
    width: 900px;
    margin:auto;
    
}

.high-score-table {
    padding: 20px 0;
}

.high-score-item {
    text-align: left;
    width: 100%;
    padding: 10px 20px;
}

#music-pause {
    cursor: pointer;
}

/* Animated Text Styling */

#score-phrase {
    font-size: 12pt;
    animation: scorefade 1.5s;
    opacity: 0;
}

#score-phrase-holder {
    display: none;
}

.success-phrase {
    font-size: 10vmin;
    color: white;
    animation: levelfade 1.5s;
    opacity: 0;
    text-shadow: 0px -5px #000;
    text-align: center;
}

#phrase-holder {
    z-index: 5;
    margin: auto;
    margin-top: 20%;
    position: absolute;
    text-align: center;
    display: none;
    pointer-events: none;
    width: 100%
}

@keyframes levelfade {
    0% {
        opacity: 0;
        text-shadow: 0px 0px 50px #000;
        transform: scale(1.3);
    }
    20%, 70% {
        opacity: 1;
        text-shadow: 0px 0px 50px #000;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        text-shadow: 0px 0px 50px #000;
        transform: scale(1.8);
    }
}

@keyframes scorefade {
    0% {
        opacity: 0;
        text-shadow: 0px 0px 10px #CCC;
        transform: scale(1.3);
    }
    20%, 70% {
        opacity: 1;
        text-shadow: 0px 0px 10px #CCC;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        text-shadow: 0px 0px 10px #CCC;
        transform: scale(1.8);
    }
}