html {
    position: relative;
    min-height: 100%;
}

body {
    text-align: center;
    font-family: 'Asap', Arial, Helvetica, sans-serif;
    margin-bottom: 60px;
}

h1, h2, h3, p {
    text-align: left;
}

/* Intro Hero Box */

#game-intro {
    border-radius: 25px;
    background: #fc4a1a;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f7b733, #fc4a1a);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f7b733, #fc4a1a);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}

#hero-image {
    max-width: 450px;
    padding-top: 25px;
    width: 100%;
}

#hero-header {
    width: 80%;
    max-width: 280px;
}

#hero-description {
    font-size: 1.5rem;
}

#game-start-btn {
    font-size: 1.75rem;
}

/* Game Status Bar */

.top-bar-icon {
    height: 20px;
    padding: 0px 2.5px;
}

#music-pause {
    cursor: pointer;
}

#small-logo {
    max-height: 40px;
}

#score-panel {
    display: none;
    max-width: 1000px;
    width:100%;
    margin: auto;
    font-size: 14pt;
}

/* Game Board */

#game-board {
    width: 100%;
    height: auto;
    z-index: 0;
    margin: auto;
}

.canvas-container {
    position: relative;
    max-width: 1024px;
    min-width: 320px;
    margin: 0 auto;
}

/* Directions and High Score Boxes */

.high-score-table {
    padding: 20px 0;
}

.high-score-item {
    text-align: left;
    width: 100%;
    padding: 10px 20px;
}

/* Animated Pop Up Text */

.success-phrase {
    font-size: 10vmin;
    color: white;
    animation: level-fade 1.5s;
    opacity: 0;
    text-shadow: 0px -5px #000;
    text-align: center;
}

#phrase-holder {
    z-index: 5;
    margin: auto;
    margin-top: 20%;
    position: absolute;
    text-align: center;
    display: none;
    pointer-events: none;
    width: 100%
}

@keyframes level-fade {
    0% {
        opacity: 0;
        text-shadow: 0px 0px 50px #000;
        transform: scale(1.3);
    }
    20%, 70% {
        opacity: 1;
        text-shadow: 0px 0px 50px #000;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        text-shadow: 0px 0px 50px #000;
        transform: scale(1.8);
    }
}

/* Footer */

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    /* Set the fixed height of the footer here */
    line-height: 60px;
    /* Vertically center the text there */
    background-color: #f5f5f5;
}